// * {
//   outline: 1px solid;
// }

body {
  text-align: center;
}

.conteiner {
  display: flexbox;
  margin: 0 auto;
  padding: 10px 20px;

  max-width: 1200px;
  width: 1200px;
}

form {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.photo-card {
  min-width: 25%;
}

.stats {
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.stats-item {
  align-items: center;
}

.material-icons {
  // align-items: center;
  // display: flex;
}
